.article,
.editor {
  line-height: 1.75;
  color: #1e293b; /* slate-800 */

  h1 {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 700;
    margin-bottom: 2rem;
  }
  h1::before {
    content: "# ";
    color: #94a3b8;
    font-weight: 400;
  }

  h2 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  h2::before {
    content: "## ";
    color: #94a3b8;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h3::before {
    content: "### ";
    color: #94a3b8;
    font-weight: 400;
  }

  h4 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }
  h4::before {
    content: "#### ";
    color: #94a3b8;
    font-weight: 400;
  }

  h5 {
    font-size: 1.125rem; /* text-lg */
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  h5::before {
    content: "##### ";
    color: #94a3b8;
    font-weight: 400;
  }

  h6 {
    font-size: 1rem; /* text-base */
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
  h6::before {
    content: "###### ";
    color: #94a3b8;
    font-weight: 400;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  ol {
    list-style: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    color: #2563eb; /* blue-600 */
    text-decoration: underline;
  }

  blockquote {
    border-left: 4px solid #cbd5e1; /* gray-300 */
    padding-left: 1rem;
    font-style: italic;
    color: #475569; /* slate-600 */
  }

  code {
    background-color: #f1f5f9; /* slate-100 */
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
  }

  del,
  s {
    text-decoration: line-through;
    color: #9ca3af; /* slate-400 */
  }

  img {
      display: block;
      max-width: 60%;
      height: auto;
      margin: 1em auto;
  }

  @media (max-width: 768px) {
      img {
          max-width: 100%;
      }
  }
}
